---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>关于我</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>我是包子</h1>
	<br/>
		<p>放风筝的潍坊人，本科毕业于山东科技大学地理信息科学专业。</p>
	<br/>
		<p>中国地震局地震预测研究所研1选手，方向为遥感与地震灾害风险评估</p>
	<br/>
		<p>目前正在中国科学院大学雁栖湖校区学习</p>
	<br/>
		<p>喜欢竞技类游戏，LPL的铁杆粉丝，喜欢听歌，喜欢新鲜事物。</p>
	<br/>
	<br/>
		<h2 align="center">联系方式</h2>
		<br/>
			<p>Github：<a target="_blank" href="https://github.com/JMbaozi"style="color:#5bbd72;">JMbaozi</a></p>
		<br/>
			<p>微博：<a target="_blank" href="https://weibo.com/3958305706/profile?rightmod=1&wvr=6&mod=personinfo"style="color:#5bbd72;">@追风若航</a></p>
		<br/>
			<p>邮箱：<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Hnx-cWR3fWx6XnhxZnN-d3IwfXFz"style="color:#5bbd72;">baozicrd@foxmail.com</a></p>
		<br/>
			<p>微信：JMbaozi </p>			
		<br/>
    </ul>
	
</main>
    
{% include footer.html %}
