---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>关于我</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>我是包子</h1>
	<br/>
		<p>放风筝的潍坊人，现在就读于山东科技大学，大二新生。</p>
	<br/>
		<p>专业是地理信息科学，那个传说中要崛起的专业，咱也不知道，咱也不敢问。</p>
	<br/>
		<p>喜欢玩竞技类游戏，同时是LPL的铁杆粉丝，喜欢听歌，喜欢新鲜事物。</p>
	<br/>
		<h2 align="center">联系方式</h2>
	<br/>
		<br/>
			<p>Github：<a target="_blank" href="https://github.com/JMbaozi"style="color:#5bbd72;">JMbaozi</a></p>
		<br/>
			<p>微博：<a target="_blank" href="https://weibo.com/3958305706/profile?rightmod=1&wvr=6&mod=personinfo"style="color:#5bbd72;">@追风若航</a></p>
		<br/>
			<p>邮箱：baozicrd@foxmail.com </p>
		<br/>
    </ul>
	
</main>
    
{% include footer.html %}