{% if site.valine_comment.enable %}
<div id="comments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#comments',
        app_id: 'bE5uulX1rjlMYfvX3bkYxRcp-gzGzoHsz',
        app_key: 'UyMjj3WbzaiLcFB13sICVpnW',
        placeholder:'我是输入框，点我评论或者回复(*^_^*)',
        visitor: true,
		avatar:'robohash' // (''/mp/identicon/monsterid/wavatar/robohash/retro/hide)
    });
</script>
{% endif %}

