<footer class="g-footer">
  <section>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  </section>
  <section> <a href="https://github.com/explore">探索好奇</a> | <a href="https://jmbaozi.github.io/">享受乐趣</a></section>
  <!-- 不蒜子访客计数-->  
  <!-- 禁用
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_page_pv">
    View:<span id="busuanzi_value_page_pv"></span> times
  </span>
  -->
  <br/>
  <!--ICP备案-->
  <img src="https://cdn.jsdelivr.net/gh/JMbaozi/Blogimg/Pictures/icp.png" style="width:23px;height:23px;margin-bottom:-6px" alt="ICP">
  <a href="http://beian.miit.gov.cn/" target="_blank">鲁ICP备20007065号</a>
  <!--萌国ICP-->
  <font style="font-size:15px">
    <img style="width:23px;height:23px;margin-bottom:-6px" 
	src="https://moe.blog/content/uploadfile/Links/icp.gov.moe.png">
	<a href="https://icp.gov.moe" target="_blank" data-pjax-state="">
    <span style="color:#ff0000">萌</span><span style="color:#ca7900">I</span><span style="color:#48ab18">C</span><span style="color:#2720ac">P</span><span style="color:#9b17ae">备</span> 
	</a>
	<a href="https://icp.gov.moe/?keyword=20200502" target="_blank" data-pjax-state=""> <span style="color:#ff0000">20</span><span style="color:#ca7900">20</span><span style="color:#48ab18">05</span><span style="color:#2720ac">02</span><span style="color:#f40428">号</span>
	</a>
  </font>
</footer>
<style>
  #backtop a { /* back to top button */
      text-align: center;
      line-height: 50px;
      font-size: 33px;
      width:50px;
      height: 50px;
      position: fixed;
      bottom: 33px; /* 小按钮到浏览器底边的距离 */
      right: 55px; /* 小按钮到浏览器右边框的距离 */
      color: rgb(64,120,192); /* 小按钮中文字的颜色 */
      z-index: 1000;
      background: #fff; /* 小按钮底色 */
      padding: auto; /* 小按钮中文字到按钮边缘的距离 */
      border-radius: 50px; /* 小按钮圆角的弯曲程度（半径）*/
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      font-weight: bold; /* 小按钮中文字的粗细 */
      text-decoration: none !important;
      box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 #ffffff inset;
      transition: all 0.5s ease;
      box-shadow: 0 0 0px #cccccc;
  }
  #backtop a:hover { /* 小按钮上有鼠标悬停时 */
      background: lightskyblue; /* 小按钮的底色 */
      color: #fff; /* 文字颜色 */
      box-shadow: 0px 10px 10px #999999;
  }	
</style>
<!--goTop按钮-->
<div id="backtop">
  <a href="#">⬆</a>
</div> 
