<footer class="g-footer">
    <section>{{ site.title }} ©
    {% assign current = "now" | date: "%Y" | plus: 0%}
    {% unless site.footer.since and site.footer.since == current %}
      {{ site.footer.since }}
      -
    {% endunless %}
    {{ current }}
    </section>
    <section> <a href="https://baozi.run/diary">探索好奇</a> | <a href="https://jmbaozi.github.io/">享受乐趣</a></section>
    <!-- 不蒜子访客计数-->  
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_page_pv">
      View:<span id="busuanzi_value_page_pv"></span> times
    </span>
    <br/>
    <!--ICP备案-->
    <img src="https://cdn.jsdelivr.net/gh/JMbaozi/Blogimg/Pictures/icp.png" style="width:23px;height:23px;margin-bottom:-6px" alt="ICP">
    <a href="http://beian.miit.gov.cn/" target="_blank">鲁ICP备20007065号</a>
    <!--萌国ICP-->
    <font style="font-size:15px">
      <img style="width:23px;height:23px;margin-bottom:-6px" 
      src="assets/img/moe.png">
      <a href="https://icp.gov.moe" target="_blank" data-pjax-state="">
      <span style="color:#ff0000">萌</span><span style="color:#ca7900">I</span><span style="color:#48ab18">C</span><span style="color:#2720ac">P</span><span style="color:#9b17ae">备</span> 
      </a>
      <a href="https://icp.gov.moe/?keyword=20200502" target="_blank" data-pjax-state=""> <span style="color:#ff0000">20</span><span style="color:#ca7900">20</span><span style="color:#48ab18">05</span><span style="color:#2720ac">02</span><span style="color:#f40428">号</span>
      </a>
    </font>
  </footer>
  