---
title: Friends
layout: default
---

<style type="text/css">
	p {
		margin-left: 20px
	}

	li img {
		margin-right: 11px;
		float: left;
		border-radius: 50%;
	}
</style>

{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>朋友</h2>
</div>

<main class="tags-content" style="margin-top: 0px">
	<ul class="tags-list" style="padding:0 0 0px;">
        <br />
		<br />
        <br />

		<a href="https://blog.bj-yan.top/" target="_blank">
			<li style="height: 90px;margin: 0px 0px 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://avatars.githubusercontent.com/u/44976445" style="border-radius: 0%;" width="70" height="70"
				 alt="北屿" title="北屿">
				<h4>北屿</h4>
				<br />
				<span>北屿小智障！</span>
			</li>
		</a>

		<a href="https://peng-yq.github.io/" target="_blank">
			<li style="height: 90px;margin: 0px 0px 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://peng-yq.github.io/img/avatar-pyq.jpg" style="border-radius: 0%;" width="70" height="70"
				 alt="PYQ" title="PYQ">
				<h4>PYQ</h4>
				<br />
				<span>想成为真正的工程师。</span>
			</li>
		</a>

		<a href="https://miroier.github.io/" target="_blank">
			<li style="height: 90px;margin: 0px 0px 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://miroier.github.io/images/avatar.png" style="border-radius: 0%;" width="70" height="70"
				 alt="Miroier" title="Miroier">
				<h4>Miroier</h4>
				<br />
				<span>keep calm and carry on</span>
			</li>
		</a>

		<a href="https://zimingyuan.github.io/" target="_blank">
			<li style="height: 90px;margin: 0px 0px 5px;padding-top: 10px;cursor:pointer;">
				<img src="https://zimingyuan.github.io/img/profile.jpg" style="border-radius: 0%;" width="70" height="70"
				 alt="VnYzm" title="VnYzm">
				<h4>VnYzm</h4>
				<br />
				<span>分享技术心得和摸鱼感想</span>
			</li>
		</a>


		<br />
		<br />

		<span></span>


		<div style="margin: 5px 5px 5px 5px">
			<h2 align="center">友链申请格式</h2>
			<br />
			<p><strong>名称: </strong>包子丶</p>
			<br />
			<p><strong>链接: </strong>https://baozi.run/</p>
			<br />
			<p><strong>头像链接: </strong><a target="_blank" href="https://baozi.run/assets/img/touxiang.jpeg" style="color:#5bbd72;">https://baozi.run/assets/img/touxiang.jpeg</a>
			</p>
			<br />
			<p><strong>描述: </strong>好奇者，探索者</p>
			<br />
		</div>
	</ul>

    <ul class="tags-list" style="list-style-type: none;padding: auto;">
		<h1>🎉欢迎留言</h1>
	{% include comments.html %}	
    </ul>

</main>

{% include footer.html %}